---
title: Enjoy
---

<section class="hero">
  <div class="hero__content">
    <h1>Enjoy your free aerial video!</h1>
    <p><a id="download" href="https://s3-ap-southeast-2.amazonaws.com/falconstock.com.au/falconstock-free-video.mp4">Click here</a> if the download doesn't start automatically. Remember, you can use this footage royalty-free on commercial work and without attribution, although a link back would be appreciated.</p>
  </div>
  <img class="hero__image" src="/images/cover.jpg" alt="">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/168341523?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>
