---
title: Geelong Aerial and Ground 4K Stock Footage
---

<section class="hero">
  <div class="hero__content">
    <h1>Thank you for your payment!</h1>
    <p>You will shortly receive a tax invoice via email.</p>
    <br>
    <div class="hero__buttons">
      <a href="https://s3-ap-southeast-2.amazonaws.com/falconstock.com.au/showreel-geelong-short.mp4" class="btn">Download the Geelong aerial footage pack — 1.3GB</a>
    </div>
  </div>
  <img class="hero__image" src="/images/cover.jpg" alt="">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/168341523?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>
