<section class="nav">
  <img src="/images/falconstock-logo.svg" alt="Falcon Stock">
  <ul>
    <li><a href="#email-signup">Get notified when we launch</a></li>
  </ul>
</section>

<section class="hero">
  <div>
    <h1>Cinema quality stock footage of <img src="/images/geelong-australia.svg" alt="Geelong, Australia"></h1>
  </div>
  <img src="/images/cover.jpg" alt="">
</section>

<section class="email-signup">
  <h2>10 hours of Ultra-HD, royalty-free footage of Geelong for $4,900.</h2>
  <p>The waterfront, Simonds stadium, the library, city hall, main train station, botanical gardens, all the bollards down at Eastern Beach, and many more locations will be filmed in beautifully crisp <strong>4K resolution</strong>, using UAVs and the latest motion-stabilising cameras.</p>
  <p>The royalty-free license will enable you to <strong>use this footage any way you like</strong>, and how many times you like. Real estate billboards, television ads, news footage, film, Facebook page videos, you name it. This offer will be <strong>available in September 2016.</strong> Put your email down and receive 10% off the launch price.</p>
</section>

<section class="footer">

</section>
