---
title: Geelong Aerial 4K Stock Footage
---

<section class="hero" id="intro">
  <div class="hero__content">
    <h1><img src="/images/geelong-in-4k.svg" alt="Geelong in 4K"></h1>
    <!-- <h2>Aerial footage of the city's landmarks.<br class="is-visible-breakpoint-3-and-above"> Royalty-free, Ultra HD.</h2> -->
    <h2>Aerial footage of the city's landmarks.<br class="is-visible-breakpoint-3-and-above"> Launching in September 2016.</h2>
    <p>$4,900 will get you over 90 minutes of never-before-seen,<br class="is-visible-breakpoint-3-and-above"> brand new video footage of Geelong for all your video projects.</p>
    <div class="hero__buttons">
      <!-- <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DASJWFELLNTQA" class="btn">Buy now via PayPal</a> -->
      <!-- Begin MailChimp Signup Form -->
      <form action="//damir.us9.list-manage.com/subscribe/post?u=5251e1ede3030e4196baed213&amp;id=90d9475ecb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mc_embed_signup validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
            <input type="submit" value="Get a free video of the waterfront" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
          <div id="mce-responses" class="clear">
          	<div class="response" id="mce-error-response" style="display:none"></div>
          	<div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_5251e1ede3030e4196baed213_90d9475ecb" tabindex="-1" value="">
          </div>
       </div>
      </form>
      <!--End mc_embed_signup-->
      <!-- <a href="https://vimeo.com/173590141/8084cbfb77" class="btn-preview" target="_blank"><img src="/images/icon-eye.svg" alt=""> Preview the aerial footage</a> -->
    </div>
  </div>
  <img class="hero__image" src="/images/cover.jpg" alt="">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/168341523?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="standard">
  <div>
    <h2>50GB of Geelong from the sky</h2>
    <p>The waterfront, Kardinia Park, the library, city hall, even the bollards down at Eastern Beach have been filmed in a total of over 90 minutes of 4K aerial footage.</p>
  </div>
</section>

<section class="hero">
  <div class="hero__content">
    <p>Beautiful aerial sunset footage of</p>
    <h2 class="heading -xl">The Waterfront</h2>
  </div>
  <img class="hero__image" src="/images/aerial-waterfront-small.jpg" alt="Aerial footage of Geelong's waterfront.">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/175004537?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="standard">
  <div>
    <h2>Royalty-free &quot;do whatever you like&quot; license</h2>
    <p>Life's too short to deal with licensing. That's why all videos on Falcon Stock come royalty-free. Use them as many times and ways you like: broadcasting, television, film, social media, events, you name it.</p>
  </div>
</section>

<section class="hero">
  <div class="hero__content">
    <p>360° panorama views of</p>
    <h2 class="heading -xl">The Library and CBD</h2>
  </div>
  <img class="hero__image" src="/images/aerial-city-small.jpg" alt="Aerial footage of the Geelong CBD.">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/175005643?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="standard">
  <div>
    <h2>Secure payment via PayPal</h2>
    <p>Got a PayPal account? Great! Don’t have one? That’s okay too. You can choose to purchase via credit card and PayPal will handle the transaction. None of your financial information is ever seen by Falcon Stock. That’s what PayPal is for.</p>
  </div>
</section>

<section class="hero">
  <div class="hero__content">
    <p>Bird's eye fly-throughs of</p>
    <h2 class="heading -xl">Barwon River</h2>
  </div>
  <img class="hero__image" src="/images/aerial-barwon-river-small.jpg" alt="Aerial footage of Barwon River in Geelong.">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/175004966?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="standard">
  <div>
    <h2>Coming in September 2016</h2>
    <p>The footage is in the last stages of recording and editing. Want a taste of what's to come? <a href="#intro">Download a free aerial video of the waterfront.</a></p>
  </div>
</section>

<section class="hero">
  <div class="hero__content">
    <p>Stunning aerial fly-overs of the</p>
    <h2 class="heading -xl">The Botanic Gardens</h2>
  </div>
  <img class="hero__image" src="/images/aerial-botanic-gardens-small.jpg" alt="Aerial footage of The Botanic Gardens in Geelong.">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/175005428?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="about">
  <div class="about__content">
    <h2>Proudly made <br class="is-hidden-breakpoint-1-and-above">by Geelong's own</h2>
    <p>Falcon Stock is run by local UAV, photography, design and tech enthusiast <a href="http://damir.com.au" target="_blank">Damir Kotorić</a>.  <br class="is-visible-breakpoint-3-and-above">Painstaking care is taken to record every aerial shot in compliance with Australian air safety regulations, while capturing compelling views of Geelong's major landmarks.</p>
    <p>This product is the result of over 6 months of solo work. Yep, the website, aerial recording, editing and marketing is all the result of a one-Geelong-man-show! After purchase, you will receive a paid tax invoice from my <a href="http://abnreport.com.au/abnlookup/81389692366-damir-kotoric" target="_blank">ABN 81 389 692 366</a>. I hope you amaze your customers with the videos I offer here, and remember you can always <a id="drift-launcher" href="#send-message">get in touch with me online</a> if you have questions. I would love to see the result of your creative work.</p>
    <p>- Damir</p>
    <ul class="about__links">
      <li><a id="drift-launcher" class="btn-preview" href="#send-message"><img src="/images/icon-message.svg" alt="Email: "> Chat online</a></li>
      <li><a class="btn-preview" href="http://twitter.com/damirkotoric" target="_blank"><img src="/images/icon-twitter.svg" alt="Twitter: "> damirkotoric</a></li>
      <li><a class="btn-preview" href="http://damir.com.au" target="_blank"><img src="/images/icon-link.svg" alt="Website: "> damir.com.au</a></li>
      <li><a class="btn-preview" href="https://www.google.com.au/maps/place/32+Yaraan+St,+Bell+Park+VIC+3215/data=!4m2!3m1!1s0x6ad4113bd5544587:0xab891ebd74c86a64?sa=X&ved=0ahUKEwjDiLur7PfNAhVEFpQKHeCPDY8Q8gEIGjAA" target="_blank"><img src="/images/icon-pin.svg" alt="Address: "> 32 Yaraan St, Bell Park 3215 Victoria</a></li>
      <li><a class="btn-preview" href="tel:+61403147256" target="_blank"><img src="/images/icon-phone.svg" alt="Phone: "> 0403 147 256</a></li>
      <li><a class="btn-preview" href="mailto:damirkotoric@gmail.com" target="_blank"><img src="/images/icon-mail.svg" alt="Email: ">damirkotoric@gmail.com</a></li>
    </ul>
  </div>
</section>
