---
title: Geelong Aerial 4K Stock Footage
---

<section class="hero">
  <div class="hero__content">
    <h1><img src="/images/geelong-in-4k.svg" alt="Geelong in 4K"></h1>
    <h2>Aerial footage of the city's landmarks.<br class="is-visible-breakpoint-3-and-above"> Royalty-free, Ultra HD.</h2>
    <p>$4,900 get you 12 minutes of never-before-seen,<br class="is-visible-breakpoint-3-and-above"> brand new video footage of Geelong for all your video projects.</p>
    <div class="hero__buttons">
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DASJWFELLNTQA" class="btn">Buy now via PayPal</a>
      <a href="https://vimeo.com/173590141/8084cbfb77" class="btn-preview" target="_blank"><img src="/images/icon-eye.svg" alt=""> Preview the aerial footage</a>
    </div>
    <p class="hero__confirmation">Thank you <span class="hero__confirmation-name">friend</span>. We've sent an email to <span class="hero__confirmation-email">your email address</span> with the download link.</p>
  </div>
  <img class="hero__image" src="/images/cover.jpg" alt="">
  <div class="hero__video">
    <iframe id="player1" src="https://player.vimeo.com/video/168341523?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1&api=1&player_id=player1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="about">
  <div class="about__content">
    <h2>Proudly made by Geelong's own</h2>
    <p>Falcon Stock is run by local UAV, photography, design and tech enthusiast <a href="http://damir.com.au" target="_blank">Damir Kotorić</a>.  <br class="is-visible-breakpoint-3-and-above">Painstaking care is taken to record every aerial shot in compliance with Australian air safety regulations, while capturing compelling views of Geelong's major landmarks.</p>
    <ul class="about__links">
      <li><a class="btn-preview" href="" target="_blank"><img src="/images/icon-message.svg" alt="Email: "> Get in touch</a></li>
      <li><a class="btn-preview" href="http://twitter.com/damirkotoric" target="_blank"><img src="/images/icon-twitter.svg" alt="Twitter: "> damirkotoric</a></li>
      <li><a class="btn-preview" href="http://damir.com.au" target="_blank"><img src="/images/icon-link.svg" alt="Website: "> damir.com.au</a></li>
    </ul>
  </div>
</section>
